<ion-view title="{{situation.name}}">
	<ion-content>
		<div class="card">
			<div class="item item-image padding">
				<i class="fa fa-4x {{situation.icon}}"></i>
			</div>
			<div class="item item-text-wrap text-center">
				{{situation.description}}
			</div>
		</div>
		<div class="list card">
			<div class="item item-divider text-center">
				Colección de Frases
			</div>
			<a href="#/tab/situations/{{situation.id}}/phrase/{{phrase.id}}"
			class="item item-text-wrap item-icon-right"
				ng-repeat="phrase in situation.phrases"
				ng-click="console.log({{phrase.id}});">
				{{phrase.description}}
				<i class="icon ion-ios-arrow-right"></i>
			</a>
		</div>
  </ion-content>
</ion-view>
