<ion-tabs class="tabs-icon-top tabs-color-active-positive">
  <ion-tab title="Abecedario" icon="ion-grid" href="#/tab/alphabet">
    <ion-nav-view name="tab-alphabet"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Situaciones" icon="ion-clipboard" href="#/tab/situations">
    <ion-nav-view name="tab-situations"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Acerca De" icon-off="ion-ios-information-outline" icon-on="ion-ios-information" href="#/tab/about">
    <ion-nav-view name="tab-about"></ion-nav-view>
  </ion-tab>
</ion-tabs>
